body {
  font-family: 'Times New Roman', serif;
  background-image: url('https://github.com/helpbruce/hide.menu.github.io/blob/main/img/333333%D0%B8%D1%8F.png?raw=true');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: 25% -86%;
  background-attachment: scroll;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  #F7E7CE;
  z-index: 9999; /* Увеличил z-index */
  padding: 10px 0; /* Добавил отступы */
}
.header h1 {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 36px;
  color: #333;
  margin: 20px 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем границу */
  box-shadow: none; 

}
h2 {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 24px;
  color: #444;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu-section {
  margin-bottom: 30px;
  text-align: center;
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем границу */
  box-shadow: none; 
}
.menu-item {
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  background-color: transparent; /* Прозрачный фон */
  border: none; /* Убираем границу */
  box-shadow: none; 
}

.menu-item.selected {
  background-color: #dcdcdc;
}
.menu-item h4 {
  margin: 0;
  font-size: 18px;
  font-family: 'Georgia', serif;
}
.menu-item p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
}
.button-container {
  text-align: center;
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #555;
}
.order-summary-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border-radius: 10px;
  text-align: center;
  z-index: 2000;
}
.order-summary-modal h2 {
  margin-bottom: 20px;
}
.order-summary-modal button {
  margin-top: 20px;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}
